*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width:100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Raisonne';
    transition: 0.2s;
}
.logo:hover{
    color:#f45990;
        text-transform: uppercase;

    transform: scale(1.2) translateX(-1px);

}
.toggle{
    position:relative;
    width:60px;
    height:60px;
    background: url("menu.png");
    background-repeat:no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    filter: invert(0);
}
.toggle.active{
    background: url("close.png");
    background-repeat:no-repeat;
    background-size: 25px;
    background-position: center;
    filter: invert(1);
}

.showcase video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.8;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.text{
    position: relative;
    z-index: 10;
    
}
.text h2{
    font-size:4em;
    font-weight:600;
    line-height: 1em;
    font-family : 'Termina Bold';
    
}
.text h3{
    font-family: 'Termina Bold';
    font-size:2em;
    font-weight:500;
    line-height: 1em;
}
.text p{
    font-family: 'ToY';
    font-size: 3em;
    margin:20px 0;
    font-weight:400;
    max-width: 700px;
    color:rgb(66, 18, 18); 
}
.social {
    color:#f45990;
    transition: 0.2s;
}
.social:hover{
color: #f0C898;
transform: scale(1.2) translateX(-1px);


}
.text a{
    font-family: 'Termina Bold';
    display: inline-block;
    font-size: 14px;
    
    padding: 10px 30px;
    text-decoration:none;
    color: #fff;
    margin-top:10px;
    text-transform: uppercase;
    letter-spacing:1px; 
    transition: 0.2s; 
}

.text a:hover {
    letter-spacing: 2px;
    color:#f45990;

}

.social{
    position:absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items:center;
}
.social li {
    list-style: none;
}

.social li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    color:#f45990;
    transition: 0.5s;
}
.social li a:hover{
    transform: scale(0.5) translateY(-15px);
    
}
.menu {
    background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url("twice_eyes_wide_open_teaser_story_all_group.jpg" );
    position:absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul {
    position:relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size:3.5em;
    font-weight:1000;
    line-height: 2em;
    font-family : 'ToY';
     color: #111;
     display: inline-block;
     transition: 0.2s;
     
}

.menu ul li a:hover {
    transform: scale(1.2) translateX(-1px);
    color: #f0C898;
}

@media(max-width: 798px) {
    .showcase, 
    .showcase header {
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
    
}



